@font-face{
    font-family: "bebas-neue-regular";
    src: url(fonts/bebas-neue-regular.otf)
}
@font-face{
    font-family: "Sentinel-Medium";
    src: url(fonts/FontsFree-Net-Sentinel-Medium.ttf)
}
@font-face{
    font-family: "SentinelBold";
    src: url(fonts/Sentinel-Bold.ttf)    
}
body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header{
    position: fixed;
    background: white;
    display: flex;
    width: 100%;
    height: 100px;
    /* margin-top: -1px; */
}
.icone{
    width: 160px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.icone > img {
    margin-bottom: 7px;
}
nav{
    display: flex;
    flex-grow: 1;
    align-items: flex-end;
}
ul{
    width: 95%;
    display: flex;
    list-style: none;
    margin-left: 10px;
    padding: 0;
}
li{
    flex-grow: 1;
    margin-bottom: 10px;
}
a{
    display: flex;
    justify-content: center;
    padding: 2px;
    padding-top: 7px;
    text-decoration: none;
    color: #707372;
    font-family: "bebas-neue-regular";
    font-size: 1.4em;
}
li:nth-child(1) > a{
    background-color: #4298B5;
    color: white;
}
a:hover{
    color: black;
}
/* ==================================== SOBRE =================================== */
.sobre{
    background: #4298B5;
    height: 150vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.sobre > div{
    width: 48%;
    height: 80%;
    /* background-color: #707372; */
    color: white;
}
.sobre > div > h1 > span{
    font-family: "Sentinel-Medium";
}
.sobre > div > h1 {
    font-weight: lighter;
    /* font-family: "Sentinel-Medium"; */
    font-family: "SentinelBold", Courier, Serif;
    text-align: center;
    font-size: 3.5em;
}
.h2{
    margin-top: -50px;
}
.sobre > div > p{
    font-family: "Sentinel-Medium";
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 12px;
    font-size: 1.2em;
}
.sobre > div > button{
    background-color: white;
    color: #4298B5;
    width: 55%;
    padding: 7px;
    padding-top: 11px;
    float: right;
    border: 0;
    outline: none;
    cursor: pointer;
    font-size: 1.5em;
    font-family: "bebas-neue-regular";
}